<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header id="header">
    header
</header>

<div>

    <h3 id="game-over-header">
        Game Over!
    </h3>

    <h3 id="result-message">
        result message
    </h3>

    <p>
        <a href="#" id="play-again">
            (Y/N)?
        </a>
    </p>

    <p>
        <a href="#" id="return-home">
            Home
        </a>
    </p>

</div>

<footer id="footer">
    footer
</footer>

</body>
</html>